<div class="row">
    <div class="col-xs-12">
        <p>Add new server or blueprint!</p>
        <label>Name</label>
        <input type="text" name="" class="form-control" id="" [(ngModel)]="newServerName">
        <label>Server Content</label>
        <input type="text" name="" class="form-control" id="" [(ngModel)]="newContantName">
        <label>Server Operation</label>
        <select name="" id="" (change)="onSelected($event)" class="form-control">
          <option value="delete">Choose Operation</option>
          <option value="delete">Delete</option>
          <option value="update">Update</option>
          <option value="disable">Disable</option>
        </select>
        <br>
        <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBlueprint()">Add Blueprint</button>
    </div>
</div>
